{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "src": [
                    "./src"
                ]
            }
        ],
        [
            "transform-runtime",
            {
                "regenerator": true
            }
        ]
    ]
}
