{
  "extends": [
    "airbnb"
  ],
  "rules": {
    // Indent with 2 spaces
    "indent": ["error", 4],
    // Indent JSX with 2 spaces
    "react/jsx-indent": ["error", 4],
    "max-len": ["error", 140, 4, {
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }]
  }
}
